* { box-sizing: border-box; line-height: 18px; }
html, body { margin: 0; }
.property { display: block; }
.property:before { content: '\200b'; }
.property button, .property .highlight { height: auto; font-size: 12px; z-index: 1; }

button, .highlight {
	border: 1px solid black;
	border-radius: 3px;
	font-size: 15px;
	height: 25px;
}

.root, .object {
	position: relative;
	width: 0;
}

.root {
	position: absolute;
	left: 7px;
	top: 29px;
}

.root, .object, .property { display: flex; }
.root { pointer-events: none; }
.left, .right, .property { position: relative; }
.left { flex: 0; padding: 0; }
.left:before { content: '\0009'; float: left; }
.right { flex: 1; }
.right:after { content: '\200b'; }
.property button, .property .highlight { line-height: 0; }

.property {
	left: -5px;
	top: 1px;
	transform: translateX(-100%);
	pointer-events: auto;
}

.tooltip {
	position: absolute;
	left: 100%;
	padding-left: 3px;
	font-family: monospace;
	white-space: nowrap;
	font-size: 15px;
}

.root button, .root .highlight {
	content: '??';
	width: 30px;
	font-weight: bold;
}

.revert { border-color: #f33; color: #f33; background: #fcc; }
.revert ~ .tooltip { background: #fcc; }
.revert:before { content: '<<'; }
.promote { border-color: #33f; color: #33f; background: #ccf; }
.promote ~ .tooltip { background: #ccf; }
.promote:before { content: '>>'; }
.toggle { border-color: #333; color: #333; background: #ccc; }
.toggle ~ .tooltip { background: #ccc; }
.toggle:before { content: '\00a0'; }
.navigate { border-color: #292; color: #292; background: #afa; }
.navigate:before, .highlight:before { content: '\00a0'; }
.highlight { border: none; border-radius: 0; }
button + .tooltip, .highlight + .tooltip { color: transparent; }
.highlight, .highlight ~ .tooltip { background: #afa; }
.active .highlight, .active .highlight ~ .tooltip { background: #fcc; }

pre, textarea {
	font-family: monospace;
	margin: 0;
	padding: 12px 5px;
	font-size: 15px;
	-webkit-tab-size: 4;
	   -moz-tab-size: 4;
	     -o-tab-size: 4;
	        tab-size: 4;
	background: transparent;
}

pre, .show { position: absolute; }
pre { left: 0; top: 0; z-index: -1; opacity: 0.5; }
.defaults, .result { color: gray; }
.overrides { color: orange; }
.candidates { color: blue; }
.composite { opacity: 1; }
.show, .submit { position: fixed; right: 10px; }
.show { top: 10px; }
.submit { bottom: 10px; }

textarea {
	border: none;
	outline: none;
	min-width: 100vw;
	white-space: nowrap;
	resize: none;
	overflow: hidden;
}
